
*.jsonl
src/data/trec-covid/qrels/test.tsv
data/trec-covid/qrels/test.tsv
data/trec-covid.zip
data/trec-covid/tokens/doc_tokens.pkl
data/trec-covid/tokens/query_tokens.pkl
src/utilities/__pycache__/evaluation.cpython-310.pyc
*.pyc
*.np
data/trec-covid/results/results.pkl
